.img-thumbnail, .card{

    box-shadow: 10px 10px 5px lightgray;

}

.album-thumbnail{
    margin-bottom: 25px;
    margin-top: 25px;
    transition: all .2s ease-in-out; 
}

.artist-thumbnail{
    margin-bottom: 25px;
    margin-top: 25px;
    transition: all .2s ease-in-out; 
}

.btn{

    box-shadow: 5px 5px 3px lightgray;
    background-color: transparent;
    color: darkgray;
    border-color: darkgray;

}

.btn:hover{

    background-color: darkgray;
    color: white;
    border-color: darkgray;
    
}

a{

    color: lightgray;
    transition: all .2s ease-in-out;

}

a:hover{
    text-shadow: 2px 2px 2px lightgray;
    color: darkgray;
}

.album-thumbnail:hover{
    transform: scale(1.1);
}

.card-body{
    transition: all .2s ease-in-out; 
}