<% layout('layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center"> New Artist</h1>
    <div class="col-6 offset-3">

        <form action="/artists" method="POST" novalidate class="validated-form"> <!--enctype="multipart/form-data"-->
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>      
                <input class="form-control" type="text" id="name" name="artist[name]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>      
                <textarea class="form-control" type="text" id="description" name="artist[description]" required></textarea>
            </div>
            <!-- <input type="file" name="image" id="" multiple> -->

            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>      
                <input class="form-control" type="text" id="image" name="campground[image]" required>
            </div> -->

            <div class="mb-3">
                <button class="btn btn-success">Add Artist</button>
            </div>
            
        </form>
        <a href="/artists">All artists</a>
    </div>
</div>


